= content_tag_for :li, page, class: "list-group-item list-group-item-page" do
  %h3
    = link_to page.title, page.owner.nil? ? page_path(page) : user_page_path(current_user, page), target: '_blank'
    %small= page.marked_as || page.tagline

  - unless sorting_pages?
    = content_tag :p, image_tag(page.banner.url(:thumb), width: '100%', class: 'img-thumbnail') if page.banner.present?
    %p= excerpt page.body
    = render 'admin/publishable/meta', publishable: page
    = render 'page_actions', page: page