- provide :title do
  = 'Ordenando' if params[:ordenar]
  = Page.model_name.human.pluralize(:'es-CL')

- provide :widget do
  = sort_pages_button
  = page_status_segmented_control

- if @pages.any?
  = render 'sorting_pages_instructions' if sorting_pages?

  = content_tag :ul, html_options_for_page_list do
    = render @pages

    %p.text-muted= I18n.t 'views.admin.pages.placeholders.no_more', status: Page.human_state_name(state_param).titleize.downcase

- else
  = render 'no_pages_placeholder'