= link_to @thesis.pdf_file.url, class: 'magnifiable' do
  = autosizing_image_tag @thesis.pdf_file.url(:thumb), class: 'img-thumbnail'

%h2 Detalles
%dl.thesis
  %dt= Thesis.human_attribute_name :issued
  %dd= @thesis.issued

  %dt= Thesis.human_attribute_name :institution
  %dd= @thesis.institution

  %dt= Thesis.human_attribute_name :keywords
  %dd
    %ul.keywords.keywords-stacked
      - @thesis.keyword_list.each do |keyword|
        %li= link_to keyword, theses_path(params_with_keyword(keyword)), class: 'keyword'

%hr

= btn_to 'Ver todas las tesis', theses_path, block: true