- provide :widget do
  = link_to fa_icon('plus', text: t(:new, scope: 'views.admin.positions.buttons')), new_admin_position_path, class: 'btn btn-primary position', remote: true, data: { action: 'new', disable_with: 'Esperando...' }

.alert.alert-info.alert-dismissable
  %button{ type: :button, class: 'close', aria_hidden: true, data: { dismiss: 'alert' }} &times;
  %p= t :sort_instructions, scope: 'views.admin.positions.placeholders'

%table.table.table-bordered.table-positions{ data: { update_url: sort_admin_positions_url }}
  %col{ style: 'width: 5%' }
  %col{ style: 'width: 40%' }
  %col{ style: 'width: 25%' }
  %col{ style: 'width: 30%' }

  %thead
    %tr
      %th
      %th= Position.human_attribute_name :name
      %th= Position.human_attribute_name :users_count
      %th.text-center Acción

  %tbody
    - @positions.each do |position|
      = content_tag_for :tr, position do
        %td.text-center
          %span.handle= fa_icon :sort
        %td.editable= position.name
        %td= position.users.count
        %td.text-center
          = edit_action_for position, remote: true, data: { action: 'edit', disable_content: 'Editando...' }
          = delete_action_for position, icon_only: true

%p.help-block
  %sup> &dagger;
  = t :order, scope: 'views.admin.positions.placeholders'