- provide :widget do
  = link_to fa_icon('plus', text: 'New position'), new_admin_position_path, class: 'btn btn-primary position', remote: true, data: { action: 'new', disable_with: 'Retrieving...' }

%table.table.table-bordered.table-positions{ data: { update_url: sort_admin_positions_url }}
  %col{ style: 'width: 5%' }
  %col{ style: 'width: 50%' }
  %col{ style: 'width: 15%' }
  %col{ style: 'width: 30%' }

  %thead
    %tr
      %th
      %th Name
      %th Nº users
      %th.text-center Action

  %tbody
    - @positions.each do |position|
      = content_tag_for :tr, position do
        %td.text-center
          %span.handle= fa_icon :sort
        %td.editable= position.name
        %td= position.users.count
        %td.text-center
          = edit_action_for position, remote: true, data: { action: 'edit', disable_content: 'Editting...' }
          = delete_action_for position, icon_only: true

%p.help-block
  %sup> &dagger;
  Relative order indicates hierarchy, so the higher the role in the table, the higher is its level. This order is respected when displaying users in People page.