%li.list-group-item.item-event
  = time_tag event.start_date do
    %span.event-day= event.start_date.day
    %span.event-month= t('date.abbr_month_names')[event.start_date.month]
  %h3
    %small.event-type= event.event_type
    = link_to event.name, [ :admin, event ]
  .list-group-item-meta= event.location

  .list-group-item-actions
    = show_action_for event
    - if event.managed?
      = link_to fa_icon(:users, text: event.attendees.count), attendees_admin_event_path(event),
                class: 'btn btn-default', title: 'Ver registro de visitantes'
      = link_to fa_icon(:'microphone', text: event.speakers.count), admin_event_speakers_path(event),
                class: 'btn btn-default', title: 'Ver lista de invitados'
      = link_to fa_icon(:'newspaper-o', text: event.posts.main.count), posts_admin_event_path(event),
                class: 'btn btn-default', title: 'Ver noticias'
    = edit_action_for event, primary: true
    .pull-right
      = delete_action_for event
