= simple_form_for [:admin, @event] do |f|
  - provide :notification, f.error_notification

  .form-inputs
    = f.input :name
    .form-group.event_duration
      = label_tag :duration, Event.human_attribute_name(:duration),
                  class: 'control-label col-xs-3'
      .form-controls.col-xs-9
        .row
          .col-xs-6
            = f.input :start_date, as: :string, wrapper: :inline,
                      input_html: { required: true }
          .col-xs-6
            = f.input :end_date, as: :string, wrapper: :inline

    .form-group
      %label.control-label.col-xs-3 Administración
      .col-xs-9.form-controls
        = f.input :managed, wrapper: :default
        .inset
          = f.input :registration_enabled, wrapper: :default
          .inset
            .form-group.form-group-inline
              = f.label :max_attendee, class: 'boolean'
              = f.text_field :max_attendee, class: 'form-control', size: 10
              %p.help-block= t 'simple_form.hints.event.max_attendee'

    = f.input :location
    = f.input :event_type, as: :select, collection: Event::TYPES,
              label_method: -> t { t.to_s.titleize }, include_blank: false
    = f.input :promoter
    = f.input :description, as: :trix_editor, wrapper: :simple_wrapper
    = f.input :picture

    - unless @event.persisted?
      = render partial: 'admin/notifiable/form', locals: { f: f }

  .form-group.form-actions
    .col-xs-9.col-xs-offset-3
      = f.button :submit, class: 'btn btn-primary',
                 data: { disable_with: 'Enviando...' }
