<% provide :title, @event.name.truncate(40, separator: /\s+/) %>
<% provide :subtitle, 'Asistentes' %>

<% if @event.attendees.any? %>
  <table class="table table-bordered table-striped table-hover table-condensed">
    <thead>
      <tr>
        <th>
          Asistentes
          (<%= @event.attendees.count %> en total,
          <%= pluralize @event.attendees.with_abstract_submitted.count, 'resumen', 'resumenes' %>)
        </th>
        <th>Fecha</th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      <% @event.attendees.sorted.each do |attendee| %>
        <% row_class = '' %>
        <% row_class = 'success' if attendee.accepted? %>
        <% row_class = 'danger' if attendee.rejected? %>

        <tr class="<%= row_class %>">
          <td>
            <% if attendee.name.present? %>
              <%= attendee.name %>
              <small class="text-muted">&lt;<%= mail_to attendee.email %>&gt;</small>
            <% else %>
              <small><%= mail_to attendee.email %></small>
            <% end %>
            <% if attendee.institution.present? %>
              <br>
              <small><%= attendee.institution %></small>
            <% end %>
            <% if attendee.abstract.try :submitted? %>
              <br>
              <small class="text-muted"><i><%= attendee.abstract.title %></i></small>
            <% end %>
          </td>
          <td><small><%= l attendee.created_at.to_date %></small></td>
          <td class="text-right">
            <% if attendee.accepted.nil? %>
              <%= link_to fa_icon(:'check'), accept_attendee_admin_event_path(@event, attendee),
                          class: 'text-success', title: 'Aceptar', method: :patch %>
              <%= link_to fa_icon(:'ban'), reject_attendee_admin_event_path(@event, attendee),
                          class: 'text-danger', title: 'Rechazar', method: :patch %>
            <% end %>
            <% if attendee.abstract.try :submitted? %>
              <%= link_to fa_icon(:'file-text-o'), attendee.abstract.document.url,
                          title: 'Descargar resumen' %>
            <% end %>
            <%= link_to fa_icon(:'trash-o'), attendee_admin_event_path(@event, attendee),
                        class: 'text-danger', title: 'Eliminar', method: :delete,
                        data: { confirm: "Está seguro que desea eliminar \"#{attendee.email}\"?" } %>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
<% else %>
  <p class="lead text-muted text-center">No hay asistentes registrados</p>
<% end %>
