.panel.panel-default
  .panel-heading
    Event Information
    .pull-right
      = edit_action_for @event
      = delete_action_for @event

  .panel-body
    %dl.dl-horizontal
      %dt Name
      %dd
        %strong.text-muted= @event.event_type.upcase
        = @event.name

      %dt Duration
      %dd
        = time_tag @event.start_date, l(@event.start_date, format: :short)
        - if @event.end_date.present?
          %span.text-muted to
          = l @event.end_date, format: :short

      %dt Location
      %dd= @event.location

      %dt Promoter
      %dd= @event.promoter

      - if @event.picture.present?
        %dt Picture
        %dd= image_tag @event.picture.url(:thumb), class: 'img-thumbnail'

      %dt Description
      %dd= markdown @event.description


= link_to fa_icon('long-arrow-left', text: 'Go back to Events'), admin_events_path, class: 'btn btn-link'
