.panel.panel-default
  .panel-heading
    Información del
    = Event.model_name.human

    .pull-right
      = show_action_for @event, scoped: false, target: :blank
      - unless @event.attendees.any?
        = link_to fa_icon(:users), attendees_admin_event_path, class: 'btn btn-default', title: 'Ver registro de visitantes'
      = edit_action_for @event, primary: true
      = delete_action_for @event

  .panel-body
    %dl
      %dt= Event.human_attribute_name :name
      %dd
        %strong.text-muted= @event.event_type.upcase
        = @event.name

      %dt= Event.human_attribute_name :duration
      %dd= format_period @event.start_date, @event.end_date

      %dt= Event.human_attribute_name :location
      %dd= @event.location

      %dt= Event.human_attribute_name :promoter
      %dd= @event.promoter

      - if @event.picture.present?
        %dt= Event.human_attribute_name :picture
        %dd= image_tag @event.picture.url(:thumb), class: 'img-thumbnail'

      - if @event.description.present?
        %dt= Event.human_attribute_name :description
        %dd= @event.description.html_safe


= link_to fa_icon('long-arrow-left', text: 'Volver a los Eventos'), admin_events_path, class: 'btn btn-link'
