%li.list-item-publication
  %span.list-item-header
    = link_to publication.title, publication.link, target: '_blank'

  .list-item-meta
    - meta = "#{publication.journal.name}, #{publication.year}"
    - meta += ", #{"Volume " unless publication.pending?}#{publication.volume}" unless publication.volume.blank?
    - meta += ", Issue #{publication.issue}" unless publication.issue.blank?
    - meta += ", Pages #{publication.pages}" unless publication.start_page.blank?
    / - meta += ", DOI: #{publication.doi}" unless publication.doi.blank?
    = meta

  %ul.list-authors
    - publication.authors.each do |author|
      %li.list-item-author
        - if author.user.present?
          = link_to author.display_name, author.user
        - else
          = author.display_name