%nav.sidebar-nav
  %p
    %strong Publicaciones por año
  %ul.nav.nav-pills.nav-stacked
    - @pubs_per_year.each do |year, count|
      %li{ class: ('active' if year == @pubs_per_year.first[0]) }
        = link_to "##{year}" do
          = year
          .span.badge.pull-right= count

  %hr
  = btn_to 'Ver productividad', [ @user, :stats ], block: true
  - if @user.projects.any?
    = btn_to 'Ver proyectos', [ @user, :projects ], block: true

  - if @user.last_import_at.present?
    %hr
    %p.text-muted
      Última actualización realizada hace
      = time_tag @user.last_import_at, time_ago_in_words(@user.last_import_at), title: l(@user.last_import_at, format: :long)
      atrás
