%nav.sidebar-nav
  %p
    %strong Publicaciones por año
  - too_many_years = @pubs_per_year.count > 10
  %ul.nav.nav-pills{ class: (too_many_years ? '' : 'nav-stacked') }
    - @pubs_per_year.each do |year, count|
      %li{ class: ('active' if year == @pubs_per_year.first[0]) }
        = link_to "##{year}" do
          = year
          - unless too_many_years
            .span.badge.pull-right= count

  %hr
  = btn_to 'Ver productividad', [@user, :stats], block: true
  - if @user.projects.any?
    = btn_to 'Ver proyectos', [@user, :projects], block: true

  - if @user.last_import_at.present?
    %hr
    %p.text-muted
      Última actualización realizada hace
      = relative_time_tag @user.last_import_at
      atrás
