%h3 Categorías
%nav.sidebar-nav
  %ul.nav.nav-pills.nav-stacked
    %li{ class: ('active' if params[:tipo].blank?) }
      = link_to events_path(params.merge(tipo: nil)) do
        Todas
        %span.badge.pull-right= @events.count

    - @event_type_count.each do |type, count|
      %li{ class: ('active' if params[:tipo] == type) }
        = link_to events_path(params.merge(tipo: type)) do
          = type.titleize
          %span.badge.pull-right= count

%hr.divider

- unless current_page?(events_path(date_params_for_this_month))
  = btn_to 'Sólo mes actual', events_path(date_params_for_this_month), block: true
- unless current_page?(events_path)
  = btn_to 'Mostrar todo', events_path, block: true
