%li.media
  = link_to user_thesis_url(thesis.user, thesis) do
    = image_tag thesis.pdf_file.url(:thumb), class: 'img-thumbnail img-maxsize', data: {size: 96}

  .media-body
    = link_to thesis.user.display_name, thesis.user
    %br
    %strong= link_to thesis.title, user_thesis_url(thesis.user, thesis)

    .media-meta
      Aprobada el año
      %strong= thesis.issued
      en
      %em= thesis.institution

    - if thesis.keywords.present?
      %ul.list-inline.list-inline-condensed
        - thesis.keyword_list.each do |keyword|
          %li= content_tag :span, keyword, class: 'label label-secondary'
