%li.media.thesis
  = link_to [ thesis.user, thesis ], class: 'pull-left magnifiable' do
    = autosizing_image_tag thesis.pdf_file.url(:thumb), class: 'img-thumbnail media-object'
  .media-body
    %h4.media-subheading
      %span.text-primary= link_to thesis.user.display_name, thesis.user
    %h3.media-heading= thesis.title

    .media-meta
      Aprobada el año
      %strong= thesis.issued
      en
      %em= thesis.institution

    - if thesis.keywords.present?
      %ul.keywords
        - thesis.keyword_list.each do |keyword|
          %li
            - css = [ 'keyword' ]
            - css << 'active' if params_has_keyword?(keyword)
            = link_to keyword, theses_path(params_with_keyword(keyword, override: true)), class: css.join(' ')