- provide :jumbotron do
  %p.lead.text-muted Investigación
  %h1= pluralize @theses.count, 'Tesis', 'Tesis'
- provide :sidebar, render('theses/sidebar/index')

- if @theses.any?
  %ul.media-list.theses
    = render @theses

    %hr
    %p.lead.text-muted.text-center No hay más tesis disponibles.
- else
  - msg = [ 'No se encontraron tesis disponibles' ]
  - msg << 'con tales palabras claves' if keywords_param.any?
  %p.lead.text-muted.text-center= msg.join(' ').concat '.'

  - if keywords_param.any?
    %p.text-muted.text-center
      Seleccione otras palabras claves ó vuelva al
      = succeed '.' do
        = link_to 'inicio', theses_path