%header.navbar.navbar-default.navbar-fixed-top
  .container
    .row
      .col-xs-12
        .navbar-header
          = link_to @group.display_name, root_url, class: 'navbar-brand'

        - if current_user
          %ul.nav.navbar-nav.navbar-right
            - if current_user.super_user?
              %li{ class: ('active' if current_page?(new_admin_post_path)) }
                = link_to fa_icon('pencil', text: 'Redactar Noticia'), new_admin_post_path

            %li{ class: ('active' if current_page?(import_admin_publications_path)) }
              = link_to fa_icon('files-o', text: 'Importar'), import_admin_publications_path, class: 'btn-publication-import', title: 'Importar publicaciones'

            %li.navbar-user-menu.dropdown
              = link_to '#', class: 'dropdown-toggle', data: { toggle: 'dropdown' } do
                = autosizing_image_tag display_user_image_url(current_user), size: 32, class: 'navbar-user-avatar'
                %span.caret

              %ul.dropdown-menu
                %li.dropdown-header
                  %strong= current_user.display_name
                  %span.uppercase= current_user.role_name.titleize
                  %br
                  = "via #{current_user.provider.titleize}" if current_user.provider
                %li.divider
                %li
                  = link_to fa_icon('user', text: 'Perfil', class: 'icon-fixed-width'), profile_admin_account_path
                %li
                  = link_to fa_icon('cog', text: 'Preferencias', class: 'icon-fixed-width'), settings_admin_account_path
                %li.divider
                %li
                  = link_to fa_icon('power-off', text: 'Cerrar sesisón', class: 'icon-fixed-width'), destroy_user_session_path, method: :delete
