%aside.sidebar
  - if content_for? :sidebar
    = content_for :sidebar

  - if current_user
    %ul.sidebar-menu
      = sidebar_menu_item :dashboard, admin_path

      = sidebar_menu_item :users, admin_users_path, condition: current_path?('users'), class: "sidebar-menu-item-users #{'collapsed' if current_user.super_user? && !current_page?(new_user_invitation_path)}" do
        - inv_not_accepted_count = User.invitation_not_accepted.count
        = sidebar_badge fa_icon('ticket', text: inv_not_accepted_count), title: tv('._sidebar.hints.has_invitations', count: inv_not_accepted_count, no_action: true) if inv_not_accepted_count > 0 && current_user.super_user?

        - collab_count = current_user.collaborators.count
        = sidebar_badge fa_icon('group', text: collab_count), title: tv('._sidebar.hints.has_collaborators', count: collab_count, no_action: true) if current_user.has_collaborators?

        = autolink_to 'Invite', new_user_invitation_path, class: 'newlink' if current_user.super_user?

    %ul.sidebar-menu
      %li.sidebar-menu-header Your account
      = sidebar_menu_item :profile, profile_admin_account_path, condition: controller?(:account)
      = sidebar_menu_item :settings, settings_admin_account_path

      = sidebar_menu_item :pages, admin_account_pages_path, condition: (current_path?('account/pages', @page) || @page.try(:associated_controller) == 'account') do
        = autolink_to 'New Page', new_admin_account_page_path, class: 'newlink'

      = sidebar_menu_item :publications, admin_publications_path, class: "sidebar-menu-item-publications #{'collapsed' if !current_page?(import_admin_publications_path)}", condition: controller?(:publications) do
        = sidebar_badge current_user.publications.count if current_user.publications.any?
        = autolink_to 'Import', import_admin_publications_path, class: 'btn-publication-import newlink'

      = sidebar_menu_item ts('.titles.projects'), admin_projects_path

    - if current_user.super_user?
      %ul.sidebar-menu
        %li.sidebar-menu-header= "Group #{@group.abbr}"
        = sidebar_menu_item :posts, admin_posts_path, condition: controller?(:posts) do
          = autolink_to 'New Post', new_admin_post_path, class: 'newlink'

        = sidebar_menu_item :pages, admin_group_pages_path, condition: (current_path?('group/pages', @page) || @page.try(:associated_controller) == 'group') do
          = autolink_to 'New Page', new_admin_group_page_path, class: 'newlink'

        = sidebar_menu_item :customize, customize_admin_group_path