%aside.sidebar
  - if content_for? :sidebar
    = content_for :sidebar

  - if current_user
    %ul.sidebar-menu
      -# = sidebar_menu_item :dashboard, admin_path

      - if current_user.super_user?
        = sidebar_menu_item :users, condition: current_path?('users'), class: "sidebar-menu-item-users #{'collapsed' unless current_page?(new_user_invitation_path)}" do
          - inv_not_accepted_count = User.invitation_not_accepted.count
          = sidebar_badge fa_icon('ticket', text: inv_not_accepted_count), title: tsidebar_hint(:has_invitations, count: inv_not_accepted_count) if inv_not_accepted_count > 0
          = autolink_to tsidebar_item(:invite), new_user_invitation_path, class: 'newlink'

        = sidebar_menu_item :moments
        = sidebar_menu_item :events

    %ul.sidebar-menu
      = content_tag :li, t('views.admin._sidebar.headings.account'), class: 'sidebar-menu-header' if current_user.super_user?

      = sidebar_menu_item :profile, scope: :account, condition: controller?(:account)
      = sidebar_menu_item :settings, scope: :account

      = sidebar_menu_item :pages, admin_account_pages_path, condition: (current_path?('account/pages', @page) || @page.try(:associated_controller) == 'account') do
        = autolink_to tsidebar_item(:new_page), new_admin_account_page_path, class: 'newlink'

      = sidebar_menu_item :publications, class: "sidebar-menu-item-publications #{'collapsed' if !current_page?(import_admin_publications_path)}" do
        = sidebar_badge current_user.publications.count if current_user.publications.any?
        = autolink_to tsidebar_item(:import), import_admin_publications_path, class: 'btn-publication-import newlink'

      = sidebar_menu_item :projects

    - if current_user.super_user?
      %ul.sidebar-menu
        = content_tag :li, t('views.admin._sidebar.headings.group', group: @group.abbr), class: 'sidebar-menu-header'

        = sidebar_menu_item :posts do
          = autolink_to tsidebar_item(:new_post), new_admin_post_path, class: 'newlink'

        = sidebar_menu_item :pages, admin_group_pages_path, condition: (current_path?('group/pages', @page) || @page.try(:associated_controller) == 'group') do
          = autolink_to tsidebar_item(:new_page), new_admin_group_page_path, class: 'newlink'

        = sidebar_menu_item :theses
        = sidebar_menu_item :journals
        = sidebar_menu_item :positions
        = sidebar_menu_item :customize, scope: :group, condition: controller?(:group)
