- provide :title, 'Dashboard'

.row
  - if @recent_publications.any?
    .col-xs-6
      %ul.list-group
        %li.list-group-header= 'Recently added publications'
        - @recent_publications.each do |pub|
          %li.list-group-item
            %small
              = link_to pub.title, '#'
              %strong.text-muted= pub.year
              %span.text-muted= pub.short_author_list

  .col-xs-6
    %ul.list-group
      - if @recent_users.any?
        %li.list-group-header
          = "#{pluralize(@recent_users.count, 'user has', 'users have')} joined in the last 7 days"
        - @recent_users.each do |user|
          %li.list-group-item
            = autosizing_image_tag display_user_image_url(user), size: 28, class: 'pull-right'
            %small
              = link_to user.full_name, user_path(user)
              %span.text-primary= "@#{user.nickname}"
              %br
              %span.text-muted= user.email

      - if current_user.super_user? && @pending_users.any?
        %li.list-group-header
          = "#{pluralize @pending_users.count, "invitation hasn't", "invitations haven't"} been accepted yet"
          - @pending_users.each do |user|
            %li.list-group-item
              %small
                = user.email
                %br
                %span.text-muted= "#{distance_of_time_in_words_to_now user.invitation_sent_at} ago"

  .col-xs-6
    %ul.list-group
      %li.list-group-header= 'Recent posts'
      %li.list-group-item= 'Coming soon'