%h2 Información
%dl
  - if @project.has_timespan?
    %dt Periodo
    %dd= project_timespan @project

  %dt Posición
  %dd= @project.position

  %dt Patrocinado por
  %dd= @project.source

  %dt Identificador
  %dd= @project.identifier

%hr.divider
= added_info_for @project
= edited_info_for @project if @project.edited?

%hr
= btn_to 'Volver a proyectos', [ @user, :projects], block: true
= btn_to 'Volver al perfil', @user, block: true
