<header>
  <div class="media media-reversed">
    <%= user.avatar size: 96 %>
    <div class="media-body">
      <h1>
        <%= user.full_name %>
        <small class="subheading"><%= user.headline %></small>
      </h1>
    </div>
  </div>

  <%= render 'users/nav' %>

  <div class="actions">
    <%= mail_to user.email, fa_icon(:'paper-plane'),
                class: 'btn btn-circle btn-primary btn-lg btn-raised', title: 'Contactar' %>

    <% user.social_links.each do |service, url| %>
      <%= btn_to fa_icon(service), url, class: 'btn-circle btn-link', title: service.titleize %>
    <% end %>

    <% if current_user == @user %>
      <%= btn_to fa_icon(:pencil), profile_admin_account_path,
                 class: 'btn-circle', title: 'Editar' %>
    <% end %>
  </div>
</header>
