%nav.sidebar-nav
  - if @user.social_links.present?
    %h2 Enlaces sociales
    = format_social_links @user.social_links

  %h2 Ir a la sección
  %ul.nav.nav-pills.nav-stacked
    - if @user.publications.any?
      %li= link_to 'Publicaciones', [@user, :publications]
    - if @user.publications.any?
      %li= link_to 'Productividad', [@user, :stats]
    - if @user.projects.any?
      %li= link_to 'Proyectos', [@user, :projects]

    - if @user.pages.any?
      %hr
      - @user.pages.each do |page|
        %li= link_to page.title, [@user, page]

%hr.divider
= view_info_for @user

- if @user.settings.show_contact_page
  %hr
  = mail_to @user.email, 'Contactar', class: 'btn btn-default btn-block'

- if current_user == @user
  %hr.divider
  = btn_to 'Editar', [:profile, :admin, :account], block: true
