%li.media
  = user.avatar

  .media-body
    = user.link
    = user.position_badge if local_assigns.fetch(:show_position, true)

    .media-meta
      %p= user.headline
      %p= user.mail_link

      - if user.pub_info || user.project_info
        %span.separator
      = content_tag :p, user.pub_info if user.pub_info
      = content_tag :p, user.project_info if user.project_info
