%li.media.user-item
  = link_to user, class: 'pull-left magnifiable' do
    = autosizing_image_tag display_user_image_url(user), size: 64, class: 'media-object'

  .media-body
    %h3.media-heading
      = user.full_name
      %small.text-primary= user.position.name
    %h4.media-subheading= user.headline
    = mail_to user.email if user.settings.show_contact_page

    .media-meta
      - if user.publications.any?
        %p
          = link_to pluralize(user.publications.count, 'articulo'), [ user, :publications ]
          con un factor de impacto promedio de
          = link_to format_impact_factor(user.statistics.avg_impact_factor) || '?', [ user, :stats ]

      - if user.projects.any?
        %p
          Ha participado en
          = link_to pluralize(user.projects.count, 'proyecto'), '#'
          = 'científico'.pluralize user.projects.count, :'es-CL'

      - if user.thesis.present?
        %p
          Ha defendido su
          = link_to 'memoria de tesis', [ user, user.thesis ]
          el
          = succeed '.' do
            %strong= user.thesis.issued

      -# - if user.publications.empty? && user.projects.empty?
      -#   %p No hay registros de investigación.
