%li.media.user-item
  = link_to user, class: 'pull-left magnifiable' do
    = autosizing_image_tag display_user_image_url(user), size: 64, class: 'media-object'

  .media-body
    %h3.media-heading
      = user.full_name
      %small.text-primary= user.position.name
    %h4.media-subheading= user.headline
    = mail_to user.email if user.settings.show_contact_page

    .media-meta
      - if user.publications.any?
        %p
          = link_to pluralize(user.publications.count, 'articulo'), '#'
          con un factor de impacto promedio de
          = link_to user.statistics.impact_factor || '?', '#'

      - if user.projects.any?
        %p
          Ha participado en
          = link_to pluralize(user.projects.count, 'proyecto'), '#'
          = 'científico'.pluralize user.projects.count, :'es-CL'

      -# - if user.publications.empty? && user.projects.empty?
      -#   %p No hay registros de investigación.
