%article{ role: 'main' }
  = render 'users/header'

  %section.content
    - if user.bio.present?
      = user.bio.html_safe
    - else
      %p.lead.text-muted No hay una biografía disponible

  - if user.thesis.present?
    %section#thesis
      %h2 Mi memoria de tesis
      %ul.media-list
        = render user.thesis

  - if @user_pubs.any?
    %section#publications
      %h2 Publicaciones destacadas
      %ul.publications
        = render @user_pubs
      = btn_to 'Ver todas las publicaciones', user_publications_url(user), block: true
