- provide :jumbotron do
  = render 'users/scope', label: 'Estadísticas de'
  %h1 Productividad

- stats = @user.statistics

%section#stats
  %ul.stats
    = pub_stat_item stats.publication_total
    = pub_stat_item stats.publication_total_this_year, 'este año'
    = pub_stat_item stats.avg_publication_per_year.round(1), 'por año'

    - impact_factor = format_impact_factor(stats.avg_impact_factor)
    = stat_item impact_factor, 'factor de impacto'

%hr

- pubs_per_year = stats.publication_per_year[0..-2]
- if pubs_per_year.count >= 2
  %section#publication-per-year
    %h2
      Publicaciones por año
      %small hasta el #{pubs_per_year.last[0]}

    - if pubs_per_year.count > 4
      - if pubs_per_year.count > 20
        -# truncate year to XX when there is too many entries
        - pubs_per_year.map! { |year, count| ["'#{year.to_s[-2, 2]}", count] }
      %canvas#chart-publication-per-year{ width: 690, height: 300,
        data: { graph: pubs_per_year } }
    - else
      %ul.stats
        %li.stats-heading
          %p.lead.text-muted
            = @user.first_name
            ha publicado
        - pubs_per_year.each do |year, count|
          %li.stat.stat-right
            .shelf
              %span.stat-number= count
              %span.stat-unit= 'artículo'.pluralize count, :'es-CL'
            %span.stat-label
              durante el
              %strong= year

  %hr

%section#journals
  %h2 Revistas científicas
  %p.lead.text-muted
    = @user.first_name
    ha publicado en
    = pluralize @user.statistics.journals.count, 'revista', 'revistas'
    hasta la fecha.

  - stats = @user.statistics.publication_per_journal.to_a
  #cloud-publication-per-journal{ data: { cloud: stats } }

%hr

%p.text-center
  = btn_to 'Volver al perfil', @user
  = btn_to 'Ver publicaciones', [@user, :publications]
