- provide :title do
  %h1
    %span.text-muted Nuevo evento!
    = @event.name

= mtable_tag width: '100%' do
  %tr
    %td
      %dl
        %dt
          %strong Patrocinador
        %dd= @event.promoter

        %dt
          %strong Lugar de realización
        %dd= @event.location

        %dt
          %strong= @event.one_day? ? 'Día de realización' : 'Fecha de inicio'
        %dd= l @event.start_date
        - unless @event.one_day?
          %dt
            %strong Fecha de término
          %dd= l @event.end_date

      %p.text-center
        = markdown @event.description

      %br

      %p.text-center
        = link_to 'Ver en la página', event_url(@event), class: 'btn'

  -# %tr
  -#   %td
  -#     %hr
  -#
  -# %tr
  -#   %td
  -#     %p.text-muted.text-center
  -#       %small
  -#         - link = link_to 'aquí', settings_admin_account_url
  -#         Si no desea recibir más estas notificaciones, puede desactivarlas
  -#         yendo a las preferencias de su cuenta #{link}.
