<header data-banner-url="<%= image_url "events/#{event.event_type :'es-CL'}.jpg" %>">
  <h1>
    <small class="text-color">
      <%= format_period event.start_date, event.end_date %>
      <% if event.start_date > Date.today %>
        <% distance = distance_of_time_in_words_to_now(event.start_date.to_time) %>
        (<%= t 'date.relative.future', distance: distance %>)
      <% end %>
    </small>
    <span class="badge badge-outline-primary"><%= event.event_type.upcase %></span>
    <br>
    <%= event.name %>
  </h1>

  <table class="table-transposed">
    <tbody>
      <tr>
        <th><%= Event.human_attribute_name :promoter %></th>
        <td><%= event.promoter %></td>
      </tr>
      <tr>
        <th><%= Event.human_attribute_name :location %></th>
        <td><%= event.location %></td>
      </tr>
    </tbody>
  </table>

  <% if local_assigns.fetch(:show_actions, true) \
        && event.subscribable? \
        && action_name != 'registration'%>
    <div class="well well-sm text-center" style="margin-top: 20px;">
      <% if event.slots_left <= 10 %>
        <%= t 'labels.event.registration_open_with_slots', count: event.slots_left %>.
      <% else %>
        <%= t 'labels.event.registration_open' %>.
      <% end %>
      <%= link_to t('actions.event.register_now'),
                  registration_event_url(event, request.query_parameters) %>
    </div>
  <% end %>

  <% if event.managed? && local_assigns.fetch(:show_nav, true) %>
    <nav>
      <ul class="nav nav-tabs nav-tabs-dark">
        <%= nav_item t('labels.event.info'), event_url(event, request.query_parameters),
                     active: controller_name == 'events' && action_name == 'show' %>
        <%= nav_item t('labels.event.speakers'), speakers_event_url(event, request.query_parameters) %>
        <%= nav_item t('labels.event.posts'), posts_event_url(event, request.query_parameters),
                     active: controller_name == 'posts' || action_name == 'posts',
                     data: { disable: false } %>
      </ul>
    </nav>
  <% end %>

  <% if local_assigns.fetch(:show_actions, true) %>
    <div class="actions">
      <% if event.subscribable? %>
        <%= btn_to fa_icon(:'id-badge'), registration_event_url(event, request.query_parameters),
                   class: 'btn-circle btn-primary btn-lg btn-raised',
                   title: t('actions.event.register') %>
      <% end %>
      <% if event.picture.present? %>
        <%= btn_to fa_icon(:'download'), event.picture.url,
                   class: 'btn-circle btn-info btn-raised',
                   title: t('actions.event.download_flier') %>
      <% end %>

      <% if event.managed? %>
        <%= btn_to toggle_lang_url,
                  class: 'btn btn-circle btn-link',
                  title: t('actions.switch_lang') do %>
          <strong><%= I18n.locale == :'es-CL' ? 'EN' : 'ES' %></strong>
        <% end %>
      <% end %>

      <% if current_user.try :super_user? %>
        <%= btn_to fa_icon(:pencil), edit_admin_event_url(event),
                   class: 'btn-circle btn-outline', title: 'Editar' %>
      <% end %>
      <%= btn_to fa_icon(:'arrow-left'), events_url, class: 'btn-circle btn-outline' unless minimal_layout? %>
    </div>
  <% end %>
</header>
