<header>
  <h1>
    <small><%= format_period @event.start_date, @event.end_date %></small>
    <span class="badge badge-outline-primary"><%= event.event_type.upcase %></span>
    <br>
    <%= event.name %>
  </h1>

  <% if current_user.try :super_user? %>
  <table class="table-transposed">
    <tbody>
      <tr>
        <th>Patrocinador</th>
        <td><%= event.promoter %></td>
      </tr>
      <tr>
        <th>Lugar de realización</th>
        <td><%= event.location %></td>
      </tr>
    </tbody>
  </table>
    <div class="actions">
      <small class="text-muted"><strong>ACTIONS</strong></small>
      <%= btn_to fa_icon(:pencil), edit_admin_event_url(@event),
                 class: 'btn-circle btn-outline', title: 'Editar' %>
    </div>
  <% end %>
</header>
