%nav
  %ul.nav.nav-tabs
    = nav_item 'Cualquiera', {tipo: nil}, badge: @event_type_count.values.sum

    - @event_type_count.each do |type, count|
      = nav_item type.titleize.pluralize, {tipo: type}, badge: count, disabled: count == 0

    %li.pull-right
      .btn-group.btn-group-sm
        = btn_to 'Este mes', url_with_params(:current_month_events)
        = btn_to 'Próximos', url_with_params(:upcoming_events)
        = btn_to 'Todos', url_with_params(:events)
