<div class="container container-narrow banner event-bg event-<%= event.event_type %>">
  <%= render 'events/header', event: @event, show_nav: false, show_actions: false %>

  <div class="content">
    <h2>Registro como asistente</h2>
    <p>Para inscripción, favor rellenar el formulario con su información personal.</p>
    <p>
      Dentro de los próximos días le llegará un mensaje a la dirección de
      correo indicada confirmando la aceptación de su participación en
      el evento.
    </p>

    <%= form_for @attendee, url: registration_event_url do |f| %>
      <div class="row">
        <div class="form-group col-md-7 <%= validation_class_for_field(@attendee, :email) %>">
          <%= f.label :name, 'Email', class: 'control-label' %>
          <%= f.email_field :email, class: 'form-control' %>
          <%= error_for_field @attendee, :email %>
          <% unless @attendee.errors.key? :email %>
            <small class="help-block">
              Favor asegurar que la dirección de correo sea correcta
            </small>
          <% end %>
        </div>
        <div class="form-group col-md-5  <%= validation_class_for_field(@attendee, :name) %>">
          <%= f.label :name, 'Nombre', class: 'control-label text-muted' %>
          <%= f.text_field :name, class: 'form-control', placeholder: 'Opcional' %>
          <%= error_for_field @attendee, :name %>
        </div>
        <div class="form-actions col-md-12">
          <%= f.submit 'Enviar', class: 'btn btn-primary', data: { disable_with: 'Enviando...' } %>
          <span class="text-muted">o</span>
          <%= link_to 'volver a evento', event_url(event), class: 'link-unstyled' %>
        </div>
      </div>
    <% end %>
  </div>
</div>
