= simple_form_for [ :admin, @project ], html: { role: 'form' } do |f|
  - provide :notification, f.error_notification

  = f.input :title
  = f.input :position

  .form-group
    = label_tag t('activerecord.attributes.project.duration'), nil, class: 'control-label col-xs-3'
    .col-xs-9.form-controls
      - range = Date.today.year.downto(1980)
      = f.input :start_year, collection: range, wrapper: :inline, input_html: { class: 'numeric' }
      &mdash;
      - range = 2020.downto(1980)
      = f.input :end_year, collection: range, wrapper: :inline, input_html: { class: 'numeric' }

  = f.input :source
  = f.input :identifier
  = f.input :description, hint: markdown_hint, input_html: { rows: 10 }
  = f.input :image_url

  .form-group.form-actions
    .col-xs-9.col-xs-offset-3
      = f.button :submit, class: 'btn btn-primary', data: { disable_with: 'Enviando...' }