%li.list-group-item.list-group-item-project
  - if project.start_year.present? && project.end_year.present?
    %span.text-muted
      = project.start_year
      &mdash;
      = project.end_year

  %h3.list-group-item-heading= project.title

  .list-group-item-meta
    = project.end_year < DateTime.current.year ? 'Participó' : 'Participa'
    como
    %strong= project.position

  .list-group-item-actions
    = edit_action_for project
    .pull-right
      = delete_action_for project
