- headings = html_headings(content)
- if headings.any?
  %nav.sidebar-nav
    %ul.nav.nav-pills.nav-stacked
      %li.active= link_to @page.title, "##{@page.title.parameterize}"

      - headings.each do |heading|
        %li= link_to heading, "##{heading.parameterize}"

  %hr.divider

= added_info_for @page
= edited_info_for @page if @page.edited?
= dynamic_content_alert if dynamic_content?(@page.body)

- if current_user.try :super_user?
  %hr.divider
  = btn_to 'Editar', edit_admin_page_path(@page.id), block: true
