- if params.key? :notification
  - position_ids = params[:notification].fetch(:position_ids, []).map(&:to_i)
- else
  - position_ids = []

.form-group.row
  = f.label :notification, :position_ids
  .form-controls.col-xs-9
    = collection_check_boxes :notification, :position_ids,
                             @positions, :id, :name do |b|
      .checkbox
        = b.label do
          = b.check_box(checked: position_ids.include?(b.value))
          - text = b.object.name.titleize
          - text = text.pluralize_each(:'es-CL') unless b.object.single?
          = text

    - if f.object.is_a?(Post) && f.object.event.present?
      .checkbox
        = label_tag 'notification_attendees' do
          - checked = params.key?(:notification) && params[:notification].key?(:attendees)
          = check_box_tag 'notification[attendees]', 1, checked
          Participantes del evento
