%li.project
  = content_tag :p, project_timespan(project), class: 'lead project-timespan' if project.has_timespan?

  %h3.project-title= link_to project.title, [ @user, project ]

  .project-meta
    Participa como
    %strong= project.position
    en
    %em= project.source_and_id

  = content_tag :p, excerpt(project.description), class: 'project-description' unless project.description.blank?