- provide :jumbotron do
  = render 'users/scope'

  %h1= pluralize @projects.count, 'Proyecto'
- provide :sidebar, render('projects/sidebar/index')

= render 'collection', collection: @projects

%hr
%p.lead.text-muted.text-center
  No hay más proyectos disponibles

%p.text-center
  = btn_to 'Volver al perfil', @user
  = btn_to 'Ver publicaciones', [ @user, :publications ]
