%dl.dl-horizontal
  %dt
  %dd= image_tag display_user_image_url(contact), class: 'img-thumbnail', width: 64, height: 64

  %dd &nbsp;

  %dt Name
  %dd= contact.display_name

  %dt Institution
  %dd= contact.institution || 'None'

  %dt Email Address
  %dd= mail_to contact.email

  %dd &nbsp;

  %dt Website
  %dd= contact.website_url.present? ? link_to(contact.website_url) : content_tag(:span, 'None', class: 'text-muted')

  %dd &nbsp;

  %dt Mailing Lists
  %dd
    - if contact.mailing_lists.any?
      %ul.list-unstyled
        - contact.mailing_lists.each do |mailing_list|
          %li
            = link_to mailing_list.name, [ :admin, mailing_list ]
            %span.text-muted= "(#{mailing_list.members.count})"
    - else
      %span.text-muted None

.item-actions
  - if @mailing_lists.any? || contact.mailing_lists.any?
    .btn-group.dropup
      = button_tag fa_icon('envelope-o'), type: 'button', class: "btn btn-default dropdown-toggle", title: "Mailing Lists", data: { toggle: 'dropdown' }
      %ul.dropdown-menu
        %li.dropdown-header Mailing Lists

        - @mailing_lists.each do |mailing_list|
          - linked = contact.mailing_lists.include?(mailing_list)

          - action = content_tag :span, linked ? 'Remove from' : 'Add to', class: 'text-muted'
          - title = "#{action} #{mailing_list.name}".html_safe

          - href = linked ? remove_member_admin_mailing_list_path(mailing_list, address: contact.email) : add_member_admin_mailing_list_path(mailing_list, mailing_list_member: { address: contact.email })
          - method = linked ? :delete : :post

          %li= link_to title, href, method: method
  .pull-right
    = edit_action_for contact
    = mail_to contact.email, fa_icon('pencil'), class: 'btn btn-primary', title: 'Write message'