= simple_form_for [ :admin, @contact ] do |f|
  - provide :notification, f.error_notification

  .form-inputs
    = f.input :first_name
    = f.input :last_name
    = f.input :institution
    = f.input :email
    = f.input :website_url

  .form-group.form-actions
    .col-xs-9.col-xs-offset-3
      = f.button :submit, class: 'btn btn-primary', data: { disable_with: 'Enviando...' }
