- if @contacts.any?
  .frame-contact
    %ul.list-group.list-group-contacts
      - @contacts.each do |heading, contacts|
        %li.list-group-heading= heading
        - contacts.each do |contact|
          %li
            - css = [ 'list-group-item', 'list-group-item-contact' ]
            - css.push 'active' if contact == @contact
            = link_to [ :admin, contact ], class: css.join(' '), remote: true do
              = contact.first_name
              %strong= contact.last_name

    .list-group-actions-contacts
      = link_to fa_icon('plus', text: 'Nuevo Contacto'), new_admin_contact_path, class: 'btn btn-primary btn-block'
    .panel-contact
      = render @contact

- else
  .panel.panel-default
    .panel-heading
      %h3.panel-title No hay contactos disponibles
    .panel-body
      %p En esta sección puede crear contactos, los que le permiten gestionar la información personal de sus colegas. Estos están diseñados para ser miembros de listas de correo, para enviar rápidamente mensajes a un grupo de contactos.

      = link_to 'Crear Primer Contacto', new_admin_contact_path, class: 'btn btn-primary'