- url = @post.persisted? ? admin_post_path(@post.id) : admin_posts_path
= vertical_form_for @post, url: url do |f|
  - provide :notification, f.error_notification

  .form-inputs
    = f.input :title, wrapper: :simple_wrapper,
              input_html: { class: 'input-lg' }
    = f.input :body, as: :trix_editor, wrapper: :simple_wrapper

    - if !@post.persisted? || @post.event.present? || !@post.parent.nil?
      %hr

    - unless @post.parent.nil?
      .form-group.row
        = f.label :parent, Post.human_attribute_name(:parent), class: 'col-xs-3'
        .form-controls.col-xs-9
          = f.select :parent_id, [[@post.parent.title, @post.parent.id]], {}, disabled: @post.persisted?

      .form-group.row
        = f.label :locale, Post.human_attribute_name(:locale), class: 'col-xs-3'
        .form-controls.col-xs-9
          - locales = @post.persisted? ? [@post.locale] : (I18n.available_locales - @post.parent.locales)
          = f.select :locale, locales, {}, disabled: @post.persisted?
        - if @post.persisted?
          = f.hidden_field :locale

    - if @post.event.present?
      .form-group.row
        = f.label :event, t('simple_form.labels.posts.event'), class: 'col-xs-3'
        .form-controls.col-xs-9
          = f.select :event_id, [[@post.event.name, @post.event.id]],
                    { prompt: 'Ninguno' },
                    disabled: @post.persisted? && @post.event.present?

    - if !@post.persisted? && @post.parent.nil?
      = render partial: 'admin/notifiable/form', locals: { f: f }

  %hr

  .form-group.form-actions
    - if !@post.persisted? && current_user.admin? && @post.parent.nil?
      = f.button :button, t('helpers.submit.post.draft'), name: 'draft',
                 class: 'btn-default',
                 data: { disable_with: 'Guardando...' }
    - content = t('helpers.submit.post.cancel')
    - back_to = @post.event.present? ? posts_admin_event_path(@post.event) : admin_posts_path
    = link_to content, back_to, class: 'text-danger'
    .pull-right
      = post_submit_button f, @post
