- url = @post.persisted? ? admin_post_path(@post.id) : admin_posts_path
= vertical_form_for @post, url: url do |f|
  - provide :notification, f.error_notification

  .form-inputs
    = f.input :title, wrapper: :simple_wrapper,
              input_html: { class: 'input-lg' }
    = f.input :body, as: :trix_editor, wrapper: :simple_wrapper

    - if @post.event.present? || !@post.persisted?
      %hr
      .form-group.row
        = f.label :event, t('simple_form.labels.posts.event'), class: 'col-xs-3'
        .form-controls.col-xs-9
          = f.select :event_id, Event.upcoming.managed.collect { |p| [p.name, p.id] },
                    { prompt: 'Ninguno' },
                    disabled: @post.persisted? && @post.event.present?
    - unless @post.persisted?
      = render partial: 'admin/notifiable/form', locals: { f: f }

  %hr

  .form-group.form-actions
    - if !@post.persisted? && current_user.admin?
      = f.button :button, t('helpers.submit.post.draft'), name: 'draft',
                 class: 'btn-default',
                 data: { disable_with: 'Guardando...' }
    - content = t('helpers.submit.post.cancel')
    - back_to = @post.event.present? ? posts_admin_event_path(@post.event) : admin_posts_path
    = link_to content, back_to, class: 'text-danger'
    .pull-right
      = post_submit_button f, @post
