%li.list-group-item.list-group-item-post{ id: "post_#{post.id}" }
  %h3
    = link_to post.title, post_permalink(post)

  %p= excerpt post.body

  = render 'admin/publishable/meta', publishable: post

  .list-group-item-actions
    - if current_user.admin?
      - if post.published?
        = item_action taction(:withhold), withhold_admin_post_path(post.id), icon: :lock, method: :patch
      - else
        = item_action taction(:publish), publish_admin_post_path(post.id), icon: 'unlock-alt', primary: true, method: :patch
    - else
      %span.btn.btn-default.disabled= post.published? ? 'Publicado' : 'Retenido'

    = item_action t('views.admin.posts.buttons.edit'), edit_admin_post_path(post.id), primary: post.published? if !post.published? || current_user.admin?
    = item_action taction(post.published? ? :show : :preview), post_permalink(post), target: '_blank'

    .pull-right
      = delete_action_for post