<p class="h4">Últimas noticias</p>
<ul class="media-list media-list-condensed">
  <% @lastest_posts.each do |post| %>
    <li>
      <%= post.link class: 'link-unstyled link-block' do %>
        <div>
          <strong><%= post.title.truncate 56, separator: /\s+/ %></strong>
          <small class="text-muted">
            <%= post.published_at %>
          </small>
        </div>
        <% if post.event.present? %>
          <div>
            <i class="text-muted"><%= post.event.name %></i>
          </div>
        <% end %>
        <p><%= post.excerpt truncate_at: 120 %></p>
      <% end %>
    </li>
  <% end %>
</ul>
<%= btn_to 'Ver todas las noticias', posts_url, block: true %>
