- provide :title do
  = image_tag display_user_image_url(@user), width: 24, height: 24
  &nbsp;
  %h1.inline= "#{@user.display_name} has sent you a message"
- provide :ccontent_class, 'text-left'

= mtable_tag width: '100%' do
  %tr
    %td
      = @content.html_safe
