= simple_form_for [ :admin, @mailing_list ] do |f|
  = provide :notification, f.error_notification

  = f.input :name
  = f.input :address, placeholder: "@#{ENV['MAILGUN_DOMAIN']}"
  = f.input :description, as: :text

  .form-group.form-actions
    .col-xs-9.col-xs-offset-3
      = f.button :submit, class: 'btn btn-primary', data: { disable_with: 'Submitting...' }
