- if @mailing_lists.any?
  - provide :widget do
    = link_to fa_icon('plus', text: 'Nueva Lista de Correos'), new_admin_mailing_list_path, class: 'btn btn-primary'

%table.table.table-bordered
  %col{ style: 'width: 30%' }
  %col{ style: 'width: 35%' }
  %col{ style: 'width: 35%' }

  %thead
    %tr
      %th= MailingList.human_attribute_name :name
      %th= MailingList.human_attribute_name :address
      %th.text-center Acción

  %tbody
    - if @mailing_lists.any?
      - @mailing_lists.each do |mailing_list|
        %tr
          %td
            = mailing_list.name
            - if mailing_list.description.present?
              %br
              %small.text-muted= excerpt mailing_list.description, length: 24, omission: '...', separator: nil
          %td
            = mailing_list.to_param
          %td.text-center
            = item_action fa_icon('pencil'), new_message_admin_mailing_list_path(mailing_list), primary: true, title: 'Nuevo Mensaje'
            = show_action_for mailing_list, icon: 'eye', icon_only: true
            - unless mailing_list.reserved?
              = edit_action_for mailing_list, icon: 'edit', icon_only: true
              = delete_action_for mailing_list, icon_only: true
    - else
      %tr
        %td.table-cell-empty{ colspan: 3 }
          %p No hay listas de correo disponibles.
          = link_to fa_icon('plus', text: 'Crea tu primera lista de correos'), new_admin_mailing_list_path, class: 'btn btn-primary'

- if @mailing_lists.any?
  %p.help-block
    Todas las direcciones de las listas de correo son automaticamente asignadas bajo el dominio
    = succeed '.' do
      %span.text-primary= ENV['MAILGUN_DOMAIN']