= vertical_form_for @message, url: send_message_admin_mailing_list_path(@mailing_list), html: { role: 'form' } do |f|
  - provide :notification, f.error_notification

  .form-inputs
    .form-group
      %p
        El mensaje ser치 enviado a la lista de correos
        = succeed ',' do
          = link_to @mailing_list.address, [ :admin, @mailing_list ]
        el cual ser치 reenviado a
        = pluralize @mailing_list.members.count, 'direcci칩n', 'direcciones'
        de correo electr칩nico.
    = f.input :subject, wrapper: :simple_wrapper, input_html: { class: 'input-lg' }
    = f.input :body, as: :text, wrapper: :simple_wrapper, hint: markdown_hint, input_html: { rows: 15 }

  .form-group.form-actions
    .pull-right
      = f.button :submit, 'Enviar Mensaje', class: 'btn btn-primary', data: { disable_with: 'Enviando...' }