- provide :title, @mailing_list.name

.panel.panel-default
  .panel-heading
    Información de la
    = MailingList.model_name.human.downcase
    .pull-right
      = item_action 'Nuevo Mensaje', new_message_admin_mailing_list_path, icon: 'pencil', primary: true
      - unless @mailing_list.reserved?
        = edit_action_for @mailing_list, icon: 'edit'
        = delete_action_for @mailing_list, icon_only: true

  .panel-body
    %dl.dl-horizontal
      %dt= MailingList.human_attribute_name :name
      %dd= @mailing_list.name

      %dt= MailingList.human_attribute_name :address
      %dd
        = mail_to @mailing_list.address do
          %span>= @mailing_list.to_param
          %span.text-muted= "@#{ENV['MAILGUN_DOMAIN']}"
        %p.help-block
          Puede enviar un mensaje a esta dirección directamente, y este será reenviado a todos los miembros de esta lista de correos.

      %dt= MailingList.human_attribute_name :created_at
      %dd
        hace
        - date = @mailing_list.created_at.to_time
        = time_tag date, time_ago_in_words(date), title: l(date, format: :long)
        atrás

      %dt= MailingList.human_attribute_name :description
      %dd= markdown @mailing_list.description

= render 'members'

%p.help-block
  El soporte de listas de correo está respaldado por el servicio de correo #{link_to 'Mailgun', 'mailgun.com'}.