.widget
  %h2.widget-title
    %string
      Recientemente
      %span.highlight graduados

  %ul.media-list
    - @graduated_users.each do |user|
      %li.media
        = link_to user, class: 'pull-left magnifiable' do
          = autosizing_image_tag display_user_image_url(user), size: 48, class: 'media-object'
        .media-body
          %h3.media-heading= user.display_name
          %h4.media-subheading= user.headline

  %footer.widget-footer
    = btn_to 'Ver todos los estudiantes', '#', block: true