- submitted = params[:contact_message]

= form_for @message, url: contact_path do |f|
  .row
    .col-xs-6
      .form-group{ class: validation_class_for_field(@message, :first_name) }
        = f.label :first_name, 'Nombre', class: 'sr-only'
        = f.text_field :first_name, class: 'form-control', placeholder: 'Nombre'
        = feedback_icon_for_field @message, :first_name
        = error_for_field @message, :first_name

    .col-xs-6
      .form-group{ class: validation_class_for_field(@message, :last_name) }
        = f.label :first_name, 'Apellido', class: 'sr-only'
        = f.text_field :last_name, class: 'form-control', placeholder: 'Apellido'
        = feedback_icon_for_field @message, :last_name
        = error_for_field @message, :last_name

  .form-group{ class: validation_class_for_field(@message, :email) }
    = f.label :email, 'Dirección de correo electrónico', class: 'sr-only'
    = f.text_field :email, class: 'form-control', placeholder: 'Dirección de correo electrónico'
    = feedback_icon_for_field @message, :email
    = error_for_field @message, :email

  .form-group{ class: validation_class_for_field(@message, :body) }
    = f.label :body, 'Mensaje', class: 'sr-only'
    = f.text_area :body, class: 'form-control', placeholder: 'Mensaje', rows: 6
    = feedback_icon_for_field @message, :body
    - unless @message.errors.has_key? :body
      %p.help-block
        Favor sea consiso en sus preguntas, y otorge la mayor cantidad de información necesaria para responder claramente a su consulta.
    = error_for_field @message, :body

  .form-actions
    .checkbox.pull-left
      = f.label :as_student do
        = f.check_box :as_student
        Eres un estudiante interesado?
    .pull-right
      = f.submit 'Enviar', class: 'btn btn-primary', data: { disable_with: 'Enviando...' }