%footer{ role: 'main' }
  .container
    .row
      .col-xs-7.lastest-items
        - unless current_page?(root_url)
          - if !controller?(:posts) && @lastest_posts.any?
            = render 'site/widgets/footer/posts'
          - elsif !controller?(:events) && @upcoming_events.any?
            = render 'site/widgets/footer/events'
        - else @lastest_publications.any?
          = render 'site/widgets/footer/publications'

      .col-xs-4.col-xs-offset-1
        - unless current_page?(contact_path)
          = render 'site/widgets/footer/contactinfo'
        - else
          = render 'site/widgets/footer/quick_links'

        %hr
        = btn_to fa_icon('lock', text: 'Ir a administración'), admin_path, block: true

    %hr

    .copyrightinfo
      .pull-left
        © 2014 Universidad de Talca, Chile

      .pull-right
        Diseñado y desarrollado por
        = link_to 'Francisco Adasme', user_path(:fadasme)
