%header{ role: 'main' }
  = content_for :header

  - if content_for? :jumbotron
    - css = [ "#{params[:controller]}-#{params[:action]}" ]
    - if content_for(:banner_url)
      - css << 'with-banner'
      - styling = "background-image: url(#{content_for :banner_url})"
    .jumbotron{ class: css.join(' '), style: styling }
      .container
        = content_for :jumbotron

  = content_for :nav_header