<% showcase = current_page?(root_url) %>
<header>
  <nav class="navbar <%= 'navbar-showcase' if showcase %>">
    <div class="container">
      <% if showcase %>
        <%= render 'site/showcase' %>
      <% else %>
        <div class="navbar-header">
          <%= link_to 'Doctorado en Ciencias Aplicadas', root_url, class: 'navbar-brand' %>
          <%= render 'site/nav/icons' %>
        </div>
      <% end %>

      <ul class="navbar-nav navbar-nav--block" role="navigation">
        <% Page.navigable.each do |page| %>
        <%= nav_item page.title, page_path(page) %>
        <% end %>
        <%= nav_item 'Contacto', new_contact_path, active: controller_name == 'contact'  %>
      </ul>
    </div>
  </nav>
</header>
