<div class="navbar">
  <div class="container">
    <%= link_to 'Doctorado en Ciencias Aplicadas', root_url, class: 'navbar-brand' %>

    <ul class="navbar-nav navbar-nav-icon">
      <%= nav_item_icon 'Noticias', :'newspaper-o', :posts %>
      <%= nav_item_icon 'Eventos', :'calendar-o', :events %>
      <%= nav_item_icon 'Momentos', :'camera-retro', :moments %>

      <% if current_user %>
      <li class="navbar-user-actions dropdown">
        <button class="dropdown-toggle" type="button" data-toggle="dropdown">
          <% img_url = display_user_image_url(current_user) %>
          <%= autosizing_image_tag img_url, size: 32, class: 'user-avatar' %>
        </button>
        <ul class="dropdown-menu">
          <li><%= link_to fa_icon('edit', text: 'Perfil'), profile_admin_account_url %></li>
          <li><%= link_to fa_icon('cog', text: 'Preferencias'), settings_admin_account_url %></li>
          <li role="separator" class="divider"></li>
          <li><%= link_to fa_icon('power-off', text: 'Cerrar sesión'), destroy_user_session_url, method: :delete %></li>
        </ul>
      </li>
      <% end %>
    </ul>
  </div>

  <div class="container">
    <ul class="navbar-nav" role="navigation">
      <% Page.navigable.each do |page| %>
      <%= nav_item page.title, page_path(page) %>
      <% end %>
      <%= nav_item 'Contacto', contact_path %>
    </ul>
  </div>
</div>
