%section.nav{ role: 'navigation' }
  - if current_user
    %header.user-info
      = link_to current_user, class: 'user-avatar magnifiable' do
        = autosizing_image_tag display_user_image_url(current_user), size: 96
      %span.user-name= current_user.display_name
      %ul.user-actions
        %li
          = link_to fa_icon('edit', class: 'icon-fixed-width'),
                    [:profile, :admin, :account],
                    target: '_blank',
                    title: 'Editar perfil'
        %li
          = link_to fa_icon('cog', class: 'icon-fixed-width'),
                    [:settings, :admin, :account],
                    target: '_blank',
                    title: 'Cambiar preferencias'
        %li
          = link_to fa_icon('power-off', class: 'icon-fixed-width'),
                    destroy_user_session_path,
                    method: :delete,
                    title: 'Cerrar sesión'
  - else
    %header.nav-brand
      %span.top Doctorado
      %span.middle en Ciencias Aplicadas
      = link_to 'Universidad de Talca', 'http://www.utalca.cl', class: 'bottom'

  %ul.nav-list
    - Page.navigable.each do |page|
      = nav_main_item page.title, page_path(page)
    = nav_main_item 'Contacto', contact_path

    - unless current_page?(root_url)
      = nav_main_item fa_icon('reply', text: 'Ir al inicio'), root_url,
                      class: 'nav-item-link'

  %ul.nav-list-alt
    = nav_alt_item 'Noticias', 'files-o', :posts
    = nav_alt_item 'Eventos', 'calendar-o', :events
    = nav_alt_item 'Momentos', 'camera-retro', :moments
