%section.nav{ role: 'navigation' }
  %header.nav-brand
    %span.top Doctorado
    %span.middle en Ciencias Aplicadas
    = link_to 'Universidad de Talca', 'http://www.utalca.cl', class: 'bottom'

  %ul.nav-list
    - Page.navigable.each do |page|
      = nav_main_item page.title, page_path(page)
    = nav_main_item 'Contacto', '#'

    - unless current_page?(root_url)
      = nav_main_item fa_icon('reply', text: 'Ir al inicio'), root_url, class: 'nav-item-link'

  %ul.nav-list-alt
    = nav_alt_item 'Noticias', 'files-o', :posts
    = nav_alt_item 'Eventos', 'calendar-o', :events
    = nav_alt_item 'Momentos', 'camera-retro', :moments