.showcase
  .card
    %span.card-title Productividad
    %span.card-count
      = @publication_count
      %span.footnote Artículos
    .card-description
      %p
        con un promedio de
        %strong= @publication_per_year.round 0
        publicaciones por año
      = link_to 'Ver más', page_path(:investigacion) if Page.named?(:investigacion)

  .card
    %span.card-title Docencia
    %span.card-count
      = @students_count
      %span.footnote Estudiantes
    .card-description
      %p con un total de #{@graduate_count} egresados desde el 2006
      = link_to 'Ver más', page_path(:estudiantes) if Page.named?(:estudiantes)
