- provide :header do
  .showcase
    .card
      .frame
        %span.card-title Productivity
        %span.card-count
          = @publication_count
          %span.footnote Articles
        .card-description
          %p During this year with an overall of 8.3 per year
          = link_to 'Learn more', '#'

    .card
      .frame
        %span.card-title Productivity
        %span.card-count
          99
          %span.footnote Articles
        .card-description
          %p During this year with an overall of 8.3 per year
          = link_to 'Learn more', '#'

.row
  .col-xs-5.col-xs-offset-1
    .widget
      %h2.widget-title Overview
      %p Nullam sit amet nibh arcu. Fusce interdum urna et facilisis facilisis. Nullam id fermentum est, sit amet dictum turpis. Aenean placerat nec nunc vitae porta. Aliquam auctor vehicula eros sit amet accumsan. Mauris bibendum nulla in lobortis convallis. Ut ac blandit nulla, vitae lacinia enim. Vivamus massa lorem, rhoncus ut quam non, euismod convallis mi. Praesent mauris justo, suscipit vel condimentum quis, fringilla ac magna. Pellentesque vitae sem imperdiet, tincidunt justo sed, cursus leo. Suspendisse potenti. Lorem ipsum dolor sit amet, consectetur adipiscing elit.
      = link_to 'Read more', posts_url, class: 'btn btn-default'

    .widget
      %h2.widget-title
        %string
          %span.highlight Recently
          graduated
      .media
        = link_to @graduated_user, class: 'user-portrait pull-left' do
          = autosizing_image_tag display_user_image_url(@graduated_user), size: 64, class: 'media-object'
        .media-object
          %h3.media-heading= @graduated_user.display_name
          %h4.media-subheading= @graduated_user.headline

  .col-xs-5
    .widget
      %h2.widget-title
        %span.highlight Lastest
        News
      %ul.media-list
        - @posts.each do |post|
          %li.media
            = link_to post.author, class: 'pull-left' do
              = autosizing_image_tag display_user_image_url(post.author), class: 'media-object', size: 48
            .media-body
              %h3.media-heading
                = post.title
                %small= link_to 'read it', post
              %span.media-meta
                = time_tag post.created_at, "#{distance_of_time_in_words_to_now post.created_at} ago", pubdate: true
              = excerpt post.body

      %footer.widget-footer
        = link_to 'View all', posts_url, class: 'btn btn-default'

    .widget
      %h2.widget-title
        %span.highlight Incoming
        Events
