%article.row.post{ id: post.slug }
  .col-xs-5
    .post-info
      %header
        %h2.post-title= post.title

      .media
        = link_to post.author, class: 'pull-left magnifiable' do
          = autosizing_image_tag display_user_image_url(post.author),
            class: 'media-object', size: 48
        .media-body
          %p.post-meta
            Publicado el
            - localized_date = I18n.l(post.created_at, format: :abbr_with_day)
            = time_tag post.created_at, localized_date, class: 'post-date'
            por
            %strong= link_to post.author.display_name, post.author
      %hr
      %nav.post-paginate
        %ul
          %li= link_to fa_icon('chevron-up', text: 'Anterior'), "##{post_prev.slug}"
          %li= link_to fa_icon('chevron-down', text: 'Siguiente'), "##{post_next.slug}"
          %li
            - content = pluralize post.view_count, 'visita', 'visitas'
            %span.text-muted{ title: content }
              = fa_icon :eye, text: post.view_count

  .col-xs-7
    .post-content
      - img_url = extract_images_from_content(post.body).first
      = autosizing_image_tag img_url if img_url.present?

      %p= excerpt post.body, length: 750
      = link_to 'Seguir leyendo...', post_permalink(post), class: 'read-more'
