%article.row.post{ id: post.slug }
  .col-xs-5
    .post-info
      %header
        %h2.post-title= post.title
      %p.post-meta
        Hace
        = time_tag post.created_at, time_ago_in_words(post.created_at), pubdate: true, class: 'post-date', title: l(post.created_at.to_date, format: :long)
        por
        = link_to post.author.display_name, post.author, class: 'post-author'
      %hr
      %nav.post-paginate
        %ul
          %li= link_to fa_icon('chevron-up', text: 'Anterior'), "##{post_prev.slug}"
          %li= link_to fa_icon('chevron-down', text: 'Siguiente'), "##{post_next.slug}"

  .col-xs-7
    .post-content
      - img_url = extract_images_from_content(post.body).first
      = autosizing_image_tag img_url if img_url.present?

      %p= excerpt post.body, length: 500
      = link_to 'Seguir leyendo...', post_permalink(post), class: 'read-more'