%li.media
  .pull-left.text-center
    = link_to post.author, class: 'magnifiable' do
      = autosizing_image_tag display_user_image_url(post.author),
                             class: 'media-object', size: 48
    - content = pluralize post.view_count, 'visita', 'visitas'
    %p.text-center.text-muted{ title: content }
      %strong= post.view_count
  .media-body
    %h3.media-heading
      = post.title
      %small= link_to 'leer más', post_permalink(post)
    %span.media-meta
      Hace
      = relative_time_tag post.created_at
    = excerpt post.body
