.media
  .pull-left
    = link_to @post.author, class: 'magnifiable' do
      = autosizing_image_tag display_user_image_url(@post.author),
                             size: 48, class: 'media-object'
  .media-body
    = link_to @post.author.display_name, @post.author, class: 'post-author'
    %br
    %strong= @post.author.position.name

= added_info_for @post
= edited_info_for @post if @post.edited?

%hr.divider
= view_info_for @post

%hr.divider
= btn_to 'Ver todas las noticias', posts_path, block: true
= btn_to 'Ver sólo mes actual', posts_this_month_path, block: true

- if current_user.try :super_user?
  %hr.divider
  = btn_to 'Editar', [:edit, :admin, @post], block: true
