<article role="main">
  <header>
    <div class="media">
      <%= post.author.avatar %>

      <div class="media-body">
        <%= post.author_link %>
        <%= post.author.position_badge %>
        <div class="media-meta">
          <p><%= post.author.headline %></p>
          <p>
            <%= post.published_at %>
            &middot;
            <%= post.view_info %>
          </p>
        </div>
      </div>

      <% if current_user.try :super_user? %>
        <%= btn_to 'Editar', edit_admin_post_path %>
      <% end %>
    </div>
  </header>

  <section class="content">
    <h1><%= post.title %></h1>
    <%= post.body %>
  </section>
</article>
