- provide :jumbotron do
  %h1= @post.title

.row
  .col-xs-8
    .post-content
      = markdown @post.body

  %aside.col-xs-4.post-meta{ role: 'sidebar' }
    .container{ data: { spy: 'affix', offset_top: 227, offset_bottom: 200 }}
      %p
        = link_to @post.author, class: 'magnifiable' do
          = autosizing_image_tag display_user_image_url(@post.author), size: 48

      Escrito por
      = link_to @post.author.display_name, @post.author, class: 'post-author'
      = time_tag @post.created_at, time_ago_in_words(@post.created_at), title: l(@post.created_at, format: :long), pubdate: true
      atrás

      - if @post.edited?
        %hr
        %p
          %span.label.label-primary Editado
          La última actualización fue hecha hace
          = time_tag @post.updated_at, time_ago_in_words(@post.updated_at), title: l(@post.updated_at, format: :long)
