%li.list-group-item.list-group-item-publication
  %h3.list-group-item-heading= pub.title

  - if status == :existing_no_linked
    = author_list_for pub
  - elsif status == :ignored
    = author_list_for pub, limit: 10
  - elsif status.to_s != 'invalid'
    %ul.publication-authors
      - pub.authors.each do |author|
        %li
          - if author.user.present?
            %strong= author.name
            vinculado a
            = link_to author.display_name, author.user, target: '_blank'
          - else
            = author.name

  .list-group-item-meta
    - if status == :invalid
      = succeed '.' do
        %span.text-danger= pub.errors.full_unique_messages.to_sentence
    - elsif status != :ignored
      = publication_meta_for pub