%li.list-group-item
  = pub.title
  .list-group-item-meta
    - if status == :invalid
      %span.text-danger= pub.errors.full_unique_messages.to_sentence.concat '.'
    - else
      %span.text-muted
        - meta = "#{pub.journal}, #{pub.year}"
        - meta += ", #{"Volume " unless pub.pending?}#{pub.volume}" unless pub.volume.blank?
        - meta += ", Issue #{pub.issue}" unless pub.issue.blank?
        - meta += ", Pages #{pub.pages}" unless pub.start_page.blank?
        / - meta += ", DOI: #{pub.doi}" unless pub.doi.blank?
        = meta

  - if [ :existing_no_linked, :ignored ].include?(status)
    %ul.list-group-item-publication-authors.no_linked
      - pub.authors.each do |author|
        %li= author.user.nil? ? author.name : link_to(author.display_name, author.user, target: '_blank')

  - elsif status.to_s != 'invalid'
    %ul.list-group-item-publication-authors
      - pub.authors.each do |author|
        %li
          - if author.user.present?
            = "\"#{author.name}\""
            linked to
            = link_to author.display_name, author.user, target: '_blank'
          - else
            %span.text-muted= author.name