%li.list-group-item.list-group-item-publication
  %h3.list-group-item-heading
    = publication.title

    - if publication.has_user?(current_user)
      - css = [ 'list-group-item-action-toggle-flag' ]
      - flagged = publication.author_for_user(current_user).flagged?
      - css << 'active' if flagged
      = link_to fa_icon('flag'), [ :toggle_flag, :admin, publication ], method: :patch, class: css.join(' ')

  %ul.publication-authors
    - publication.authors.limit(2).each do |author|
      - if author.user.present?
        %li= link_to author.name, author.user
      - else
        %li= author.name
    - if publication.authors.count > 2
      %li
        and
        = link_to "#{publication.authors.count - 3} more", '#', title: 'Authors', data: { toggle: 'popover', content: author_list_for(publication) }

  .list-group-item-meta
    = publication_meta_for publication

  .list-group-item-actions
    .btn-group
      = button_tag type: 'button', class: 'btn btn-default dropdown-toggle', data: { toggle: 'dropdown' } do
        = fa_icon('wrench')
        %span.caret
      %ul.dropdown-menu
        %li= link_to fa_icon('external-link fw', text: 'Go to webpage'), publication.link, title: tv('.single.hints.view', no_action: true), target: '_blank' unless publication.link.nil?
        - if current_user.super_user?
          %li= link_to fa_icon('edit fw', text: 'Edit'), edit_admin_publication_path(publication), title: tv('.single.hints.edit', no_action: true)
        - if publication.has_user? current_user
          %li.divider
          %li= link_to fa_icon('unlink fw', text: 'Unlink'), unlink_admin_publication_path(publication), method: :delete, data: { confirm: tv('.single.confirm.unlink', no_action: true) }, class: 'text-danger'

    - if !publication.has_user?(current_user) && publication.unlinked_authors.any?
      .btn-group.pull-right
        %button.dropdown-toggle{ type: :button, class: 'btn btn-default', title: tv('.single.hints.link', no_action: true), data: { toggle: 'dropdown' }}
          = fa_icon('link')
          %span.caret
        %ul.dropdown-menu
          %li.dropdown-header
            Link through
          - publication.unlinked_authors.each do |author|
            %li= link_to author.name, link_admin_publication_path(publication, author_id: author), method: :patch
