%li.list-group-item.list-group-item-publication
  %h3.list-group-item-heading
    = publication.title

  .list-group-item-meta
    - meta = "#{publication.journal}, #{publication.year}"
    - meta += ", #{"Volume " unless publication.pending?}#{publication.volume}" unless publication.volume.blank?
    - meta += ", Issue #{publication.issue}" unless publication.issue.blank?
    - meta += ", Pages #{publication.pages}" unless publication.start_page.blank?
    / - meta += ", DOI: #{publication.doi}" unless publication.doi.blank?
    = meta

  %ul.list-group-item-publication-authors
    - publication.authors.each do |author|
      %li
        - if author.user
          = link_to author.display_name, user_path(author.user), title: tv('.single.hints.go_to_profile', user: author.user.display_name, no_action: true)
        - else
          = author.name

  .list-group-item-actions
    - if current_user.super_user?
      = link_to fa_icon('edit'), edit_admin_publication_path(publication), class: 'btn btn-primary', title: tv('.single.hints.edit', no_action: true)
    = link_to fa_icon('eye'), publication.link, class: 'btn btn-default', title: tv('.single.hints.view', no_action: true), target: '_blank' unless publication.link.nil?

    .pull-right
      - if publication.has_user? current_user
        = link_to fa_icon('unlink'), unlink_admin_publication_path(publication), method: :delete, data: { confirm: tv('.single.confirm.unlink', no_action: true) }, class: 'btn btn-danger', title: tv('.single.hints.unlink', no_action: true)
      - elsif publication.unlinked_authors.any?
        .btn-group
          %button.btn.btn-default.dropdown-toggle{ type: :button, title: tv('.single.hints.link', no_action: true), data: { toggle: 'dropdown' }}
            = fa_icon('link')
            %span.caret
          %ul.dropdown-menu
            %li.dropdown-header
              Link through
            - publication.unlinked_authors.each do |author|
              %li= link_to author.name, link_admin_publication_path(publication, author_id: author), method: :patch

      - if current_user.super_user?
        - if publication.claimed?
          = link_to 'Unlink to group', unlink_admin_publication_path(publication), method: :delete, data: { confirm: tv('.single.confirm.unlink', no_action: true) }, class: 'btn btn-danger'
        - else
          = link_to 'Link to group', link_admin_publication_path(publication), method: :patch, class: 'btn btn-default'
