- i18n_scope = 'views.admin.publications.import'

- if @entries.any?
  .well.well-sm.small
    - states = [[:linked, 'check', 'success'],
                [:ignored, 'eye-slash', 'muted'],
                [:invalid, 'exclamation-circle', 'danger']]
    - states.each do |name, icon, variant|
      - content = I18n.t(name, scope: i18n_scope)
      %p= fa_icon icon, text: content, class: "text-#{variant} fa-fw"

  %ul.list-group
    = render partial: 'import_result', collection: @entries, as: :publication
- else
  .panel.panel-default
    .panel-heading
      %h3.panel-title= t 'empty.title', scope: i18n_scope
    .panel-body
      %p= t('empty.body', scope: i18n_scope)

      - label = t('views.admin.publications.buttons.import_now')
      - content = fa_icon('files-o', text: label)
      - cls = 'btn btn-primary btn-publication-import'
      = link_to content, import_admin_publications_path, class: cls

- label = I18n.t('views.admin.publications.buttons.go_back')
- content = fa_icon('long-arrow-left', text: label)
= link_to content, admin_publications_path, class: 'btn btn-link'
