= simple_form_for current_user, url: admin_account_path, html: { role: 'form' } do |f|
  - provide :notification do
    = f.error_notification

  = field_set_tag t('views.account.edit.sections.personal') do
    = f.input :first_name
    = f.input :last_name
    = f.input :email, wrapper: :bootstrap_has_warning
    = f.input :bio, input_html: { rows: 10 }, hint: markdown_hint

  = field_set_tag t('views.account.edit.sections.social') do
    = f.input :nickname
    = f.input :headline
    = f.input :social_links, input_html: { rows: 4 }
    = f.input :image_url
    = f.input :banner

  .form-group.form-actions
    .col-xs-9.col-xs-offset-3
      = f.button :submit, class: 'btn btn-primary', data: { disable_with: 'Updating...' }