- provide :title do
  = image_tag display_user_image_url(@user.invited_by), width: 64, height: 64, class: 'img-thumbnail'
  &nbsp;
  %h1
    Usted ha sido invitado a ser parte de la comunidad del Doctorado en Ciencias Aplicadas

= mtable_tag width: '100%', class: 'text-center' do
  %tr
    %td
      #{link_to @user.invited_by.display_name, @user.invited_by} le ha enviado una invitación para inscribirse como miembro de la comunidad del Doctorado en Ciencias Aplicadas (#{link_to root_url, root_url}). Al presionar el enlace a continuación usted aceptará la invitación y comenzará a configurar su cuenta, donde tendrá que introducir su información personal y académica. Luego, usted tendrá acceso al panel de administración donde puede personalizar su perfil público, e introducir contenido científico de interés.

  %tr
    %td
      = tspace_v 40

  %tr
    %td
      = link_to 'Aceptar invitación', accept_invitation_url(@user, invitation_token: @token), class: 'btn'

  %tr
    %td
      = tspace_v 40

  %tr
    %td
      Si usted no desea aceptar la invitación, por favor ignore este mensaje.
      %br/
      Tenga en cuenta que su cuenta no se activará hasta que acceda al enlace anterior, y configure sus credenciales e información de cuenta.
