- provide :title, I18n.t('views.users.headings.index', count: @users_count)
- if current_user.super_user?
  - provide :widget do
    = link_to fa_icon('plus', text: t('views.users.buttons.new')), new_admin_user_path, class: 'btn btn-primary position'

- @users_accepted.group_by(&:position).each do |position, users|
  %ul.list-group.list-group-users
    - title = position.name.titleize
    - title = title.pluralize_each(:'es-CL') unless position.single?
    %h4.list-group-header= title
    = render users

- if @users_not_accepted.any?
  %ul.list-group.list-group-users
    %h4.list-group-header= I18n.t 'views.users.headings.invited_users'
    = render @users_not_accepted
