= simple_form_for [ :admin, @thesis ] do |f|
  = provide :notification, f.error_notification

  .form-inputs
    = f.input :title
    = f.association :user, label_method: :full_name, collection: @users, prompt: true
    = f.input :institution
    = f.input :issued, as: :select, collection: Date.today.year.downto(1980), prompt: true
    = f.input :pdf_file
    = f.input :keywords
    = f.input :abstract
    = f.input :notes

  .form-group.form-actions
    .col-xs-9.col-xs-offset-3
      = f.button :submit, class: 'btn btn-primary', data: { disable_with: 'Subiendo...' }
