.panel.panel-default
  .panel-heading
    Información de la
    = Thesis.model_name.human

    .pull-right
      = item_action t('views.admin.theses.buttons.view_pdf'), @thesis.pdf_file.url, icon: 'external-link'
      = edit_action_for @thesis, primary: true, icon: 'edit'
      = delete_action_for @thesis, icon_only: true

  .panel-body
    %dl.dl-horizontal
      %dt
      %dd
        = link_to @thesis.pdf_file.url, class: 'item-thesis-preview' do
          = image_tag @thesis.pdf_file.url(:thumb)

      %dt= Thesis.human_attribute_name :title
      %dd= @thesis.title

      %dt= Thesis.human_attribute_name :issued
      %dd= @thesis.issued

      %dt= Thesis.human_attribute_name :user
      %dd= link_to @thesis.user.display_name, @thesis.user

      %dt= Thesis.human_attribute_name :institution
      %dd= @thesis.institution

      - if @thesis.keywords.present?
        %dt= Thesis.human_attribute_name :keywords
        %dd
          - @thesis.keyword_list.each do |keyword|
            - alt = [ :default, :primary, :success, :info, :warning, :danger ].sample
            %span.label{ class: "label-#{alt}" }= keyword

      - if @thesis.abstract.present?
        %dt= Thesis.human_attribute_name :abstract
        %dd= markdown @thesis.abstract

      - if @thesis.notes.present?
        %dt= Thesis.human_attribute_name :notes
        %dd= markdown @thesis.notes

= link_to fa_icon('long-arrow-left', text: t('views.admin.theses.buttons.go_back')), admin_theses_path, class: 'btn btn-link'