= simple_form_for [ :admin, @group ], html: { role: 'form' } do |f|
  - provide :notification, f.error_notification

  = field_set_tag 'Información del Grupo' do
    -# = f.input :name
    -# = f.input :abbr
    = f.input :email
    -# = f.input :tagline
    = f.input :overview, as: :trix_editor

  -# = field_set_tag 'Design' do
    -# = f.input :logo
    -# = f.input :banner_image_url

  .form-group.form-actions
    .col-xs-offset-3.col-xs-9
      = f.button :submit, class: 'btn btn-primary', data: { disable_with: 'Actualizando...' }
