!!! 5
%html
  %head
    %title= 'Admin'
    = stylesheet_link_tag 'admin', media: 'all'
    = javascript_include_tag 'admin'
    = csrf_meta_tags

  %body
    = render 'admin/navbar'
    .container
      / Flash/notification area
      %section.row
        .col-xs-12
          = render 'flashes'
          = content_for :notification

      / Title section
      - unless content_for :no_titlebar
        %section.row
          .col-xs-12
            %h2
              = content_for(:title) || tv('.title', default: params[:action])
              = content_for(:raw_subtitle) || content_tag(:small, content_for(:subtitle) || tv('.subtitle', default: top_level_controller || controller_name))
              - if content_for? :widget
                .pull-right
                  = content_for :widget

      / Main container
      %section.row
        / Content
        .content{ class: "col-xs-#{content_for?(:no_sidebar) ? 12 : 8}" }
          = yield
        / Sidebar
        - unless content_for? :no_sidebar
          .col-xs-4
            = render 'admin/sidebar'

    = form_tag import_admin_publications_path, id: 'form-publication-import', style: 'display: none' do
      = hidden_field_tag :ris_content
    = debug(params) if Rails.env.development?